{% extends "layout.html" %}

{% block head %}
    <title> {{ table.title }} | {{ site.title }} </title>
    <meta name="description" content="{{ site.description|e }}">
    <meta name="author" content="">
    <style>
    /* Error Page Inline Styles */
    body {
      padding-top: 20px;
    }
    /* Layout */
    .jumbotron {
      font-size: 21px;
      font-weight: 200;
      line-height: 2.1428571435;
      color: inherit;
      padding: 10px 0px;
    }
    /* Everything but the jumbotron gets side spacing for mobile-first views */
    .masthead, .body-content, {
      padding-left: 15px;
      padding-right: 15px;
    }
    /* Main marketing message and sign up button */
    .jumbotron {
      text-align: center;
      background-color: transparent;
    }
    .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
    }
    /* Colors */
    .green {color:#5cb85c;}
    .orange {color:#f0ad4e;}
    .red {color:#d9534f;}
    </style>
{% endblock %}



{% block body %}
    <div class="container">

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1><span class="glyphicon glyphicon-fire red"></span> <small>{{message}}</small></h1>
        <p class="lead">The web server is returning an internal error.</p>
        {% if name == "TableNotFound"%}
        <form action="#" method="post">
          <a href="/" class="btn btn-default">Back home</a>
          <button type="submit" class="btn btn-success">Create a new table</button>
        </form>
        {% elif name == "IndexNotFound"%}
         <form action="/test" method="post">
          <button type="submit" class="btn btn-success">Create a first table</button>
        </form>
        {% else %}
        <a href="/" class="btn btn-default">Back home</a>
        <a href="javascript:document.location.reload(true);" class="btn btn-success">Try Again</a>
        {% endif %}
      </div>

      {% if error %}
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4> {{ name }}</h4>
        <pre>{{ error.stack.split('\n').slice(1).join('\n') }}</pre>
      </div>
      {% endif %}


    </div>
     <!-- /container -->
{% endblock %}


