{% extends "layout.html" %}

{% block head %}
    <title> {{ table.title }} | {{ site.title }} </title>
    <meta name="description" content="{{ site.description|e }}">
    <meta name="author" content="">
{% endblock %}



{% block body %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index">Index</a></li>
            <li><a href="/{{page.fakeName}}">New table</a></li>
            <li><a href=""  data-toggle="modal" data-target="#modal-load">Load data</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fuild">

      <h1>{{ table.title|d(site.title) }}</h1>
      <p>{{ table.title|d(site.description) }}</p>

      <div id="table-items">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>X</th>
            <th>Col 1</th>
            <th>Col 2</th>
            <th>Col 3</th>
            <th>Col 4</th>
            <th>Col 5</th>
            <th>Col 6</th>
            <th>Col 7</th>
            <th>Col 8</th>
            <th>Col 9</th>
          </tr>
        </thead>
        <tbody>
          <tr v-repeat="items">
            <th>X1</th>
            <td>((name))</td>
            <td>((title))</td>
            <td>((description))</td>
          </tr>
        </tbody>
      </table>
      </div>

    </div> <!-- /container -->


	<!-- Modal -->
	<div class="modal fade" id="modal-load" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>
					Onec purus dui, vehicula in egestas in, lobortis et sem. Mauris neque quam, pharetra in lacinia vel, tempor vitae tellus. Sed eu augue eget neque euismod euismod. Praesent cursus tincidunt interdum.
					</p>
					<ul id="modal-load-tab-list" role="tablist" class="nav nav-tabs">
						<li role="presentation" class="active" data-type="uri">
							<a href="#modal-load-tab-uri" aria-controls="#modal-load-tab-uri" role="tab" data-toggle="tab">From Internet</a>
						</li>
						<li role="presentation"  data-type="file">
							<a href="#modal-load-tab-file" aria-controls="#modal-load-tab-file" role="tab" data-toggle="tab">From Computer</a>
						</li>
						<li role="presentation"  data-type="text">
							<a href="#modal-load-tab-text"  aria-controls="#modal-load-tab-text" role="tab" data-toggle="tab">From Keyboard</a>
						</li>
					</ul>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="modal-load-tab-uri">
									<div class="form-group">
										<label for="modal-load-input-uri">Location</label>
										<input id="modal-load-input-uri" class="form-control" type="url" placeholder="URL" value="" maxlength="255" pattern="https?://.+">
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="modal-load-tab-file">
									<div class="form-group">
										<input data-type="POST" data-url="/-/upload" id="modal-load-input-filename" type="file" name="inputFile" style="display:none">
										<label for="modal-load-input-file">Name</label>
										<div class="input-group">
											<input id="modal-load-input-file" class="form-control" type="text" placeholder="Local file" value="" readonly style="cursor:auto">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button" onclick="$('#modal-load-input-filename').click();">Browse<span class="badge" id="modal-load-input-indicator" style="display:none"></span></button>
											</span>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="modal-load-tab-text">
									<div class="form-group">
										<label class="control-label" for="modal-load-input-text">Text</label>
										<textarea class="form-control" id="modal-load-input-text" rows="3"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="modal-load-input-type">Type</label>
						<select id="modal-load-er" class="form-control">
							<option value="xml">XML Loader</option>
							<option value="csv">CSV Loader</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="modal-load-submit" type="button" class="btn btn-primary">Load</button>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}

	{% block scripts %}
	<script type="text/javascript" src="/libs/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/libs/jquery-file-upload/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="/libs/jquery-file-upload/js/jquery.fileupload.js"></script>
	<script type="text/javascript" charset="utf-8" src="/assets/js/pollux.table.js"></script>
	{% endblock %}

