{% extends "layout.html" %}

{% block head %}
    <title> {{ table.title }} | {{ site.title }} </title>
    <meta name="description" content="{{ site.description|e }}">
    <meta name="author" content="">
{% endblock %}



{% block body %}
    <!-- Fixed navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			  <span class="sr-only">{{ __('Toggle navigation') }}</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/">{{ site.title }}</a>
		</div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			  <li><a href="/index">{{ __('Index') }}</a></li>
            <li><a id="action-loaddata" href="" data-toggle="modal" data-target="#modal-loaddata">{{ __('Load data') }}</a></li>
            <li><a id="action-newtable" href="">{{ __('New table') }}</a></li>
            <li><a id="action-newcolumn" href="">{{ __('New column') }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fuild">

      <h1>{{ table.title|d(site.title) }}</h1>
      <p>{{ table.title|d(site.description) }}</p>

      <div id="table-items">
      <table class="table table-striped">
        <thead>
          <tr>
			  <th></th>
			{% for column in table._columns %}
			<th><a class="action-editcolumn" data-column='{{column|json}}'>{{column.propertyLabel}}</a></th>
			{% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr v-repeat="items">
			  <td>
				  <a v-on="click: viewRawData(this)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
			  </td>
			{% for column in table._columns %}
			<td>
				<cell name="{{column.propertyName}}" value="(($data['{{column.propertyName}}']))" title="(($data['${{column.propertyName}}']))" ></cell>
			</td>
			{% endfor %}
          </tr>
        </tbody>
	  </table>
      </div>

    </div> <!-- /container -->

	{% include "./modals/load-data.html" %}
	{% include "./modals/view-rawdata.html" %}
	{% include "./modals/edit-column.html" %}

	{% endblock %}

	{% block styles %}
	<link href="/libs/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">
	{% endblock %}

	{% block scripts %}
	<script type="text/javascript" src="/libs/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/libs/jquery-file-upload/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="/libs/jquery-file-upload/js/jquery.fileupload.js"></script>
	<script type="text/javascript" src="/libs/jsoneditor/jsoneditor.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/assets/js/pollux.table.js"></script>
	{% endblock %}

